@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #262635;
    border-radius: 3px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #363650;
  }
  ::selection {
    background: rgba(0, 229, 255, 0.2);
    color: #00e5ff;
  }
}
